# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

RAILS_SECRET_KEY_BASE=a83327f0a0b16936dfb1035c8c88a5ac236f437c42b994a7c2d7c7f56b01aeada695da97e41e114d818a1f79846d2aa8d46d1936ca8f461a9e450664847cb8a8
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
